/*common*/
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,fieldset,figure,hr,img,input{
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
    width:100%;
}
body{
    font-family: "微软雅黑",Arial;
}
a{
    text-decoration: none;
}
img{
    border: none;
    display:block;
}
ol,ul{
    list-style: none;
}
//万能清除浮动法
.clear{
    zoom:1;
}
.clear:after{
    content:"";
    clear:both;
    display:block;
}
/*top_nav*/
.top_nav{
   width:100%;
   line-height:29px;
   background:#ece7e3;
   height:29px;
   border-bottom:1px solid #e4dfda;
   font-size:12px;
/* navLeft*/
   .navLeft{
       margin-left:40px;
       li{
           float:left;
            a{
                color:#85726c;
            }
            span{
                color:#c53f4c;
            }
       }
        .login{
            a{
                margin-left:16px;
                margin-right:8px;
            }
        }
        .reg{
            margin-left:8px;
        }
   }
/*navRight*/
    .navRight{
            margin-right:32px;
            float:right;
            position: relative;
        li{
           display:inline-block;
       
            a{
                color:#85726c;
            }
            .down{
                padding-left:6px;
                padding-right:9px;
            }
            .colo{
                font-weight: 700;
            }
            em{
                font-style: normal;
            }
        }
        li:hover a{
            color:#c53f4c;
        }
        #arrow1{
                padding-left:6px;
            .down-icon{
                background:url(../img/down.jpg) no-repeat;
                display:inline-block;
                width:7px;
                height:4px;
                vertical-align: middle;
                margin-left: 4px;
                padding-right:8px;
            }
        }
        #arrow2{
            padding-left:6px;
            .phone{
                background:url(../img/phone.jpg) no-repeat;
                display:inline-block;
                width:12px;
                height:15px;
                vertical-align: middle;
                padding-right:3px;
            }
            a{
                padding-right:9px;
            }
        }
        
    }
/* hidden-box*/
    .hidden-box{
        width:108px;
        background: #fff;
        position: absolute;
        left: 124px;
        top: 30px;
        z-index: 1;
        display:none;
        box-shadow: 0 0 5px #eee;
        ul{
            padding:4px 0 2px 0px;
            .dist{
                background: red;
                color:#fff;
            }
            li{
                padding-left:8px;
                width:100px;
                float:left;
                line-height: 26px;
            }
        }
        b{
            position: absolute;
            left:42px;
            top:-7px;
            width:13px;
            height:7px;
            display: block;
            background: url(../img/arrows.jpg) no-repeat;
        }
    }
}
/*logo*/
.head{
    background:#f1eeed;
    overflow: hidden;
    .head-left{
        float:left;
        padding-right:60px;
        .logo{
            margin-left:32px;
            vertical-align: bottom;
            float:left;
            a{
                display:block;
                width:200px;
                height:100px; 
                background:url(../img/logo2.png) no-repeat;
            }
        }
        .logo2{
            vertical-align: bottom;
            width:163px;
            height:100px;
            float:left;
            background:url(../img/logo.png) no-repeat;
        }
        img{
            float:left;
        }
    }
    .head-right{
        float:right;
        padding-top:30px;
        .head-search{
            float:left;
            padding-bottom: 14px;
            form{
                
                .search{
                    width:380px;
                    height:33px;
                    outline: none;
                    text-indent: 4px;
                    background:#f4f1f0;
                }
                .btn{
                    width:80px;
                    height:35px;
                    text-indent: -999999px;
                    border:none;
                    vertical-align: bottom;
                    font-size:16px;
                    color:white;
                    cursor: pointer;
                }
            }
            p{
                a{
                    color:#a89893;
                    font-size:12px;
                }
            }
            p:hover{
                   color:#c53f4c;
                }
            
        }
        .cart{
            position: relative;
            margin-left: 30px;
            float:left;
            width:123px;
            height:35px;
            background: url(../img/bg_header5.png) no-repeat 0 -160px;
            span{
                display: inline-block;
                z-index: 1;
                position: absolute;
                width:22px;
                height:22px;
                background:url(../img/bg_header5.png) no-repeat -123px -160px;
                text-align: center;
                font-size:12px;
                color:white;
                top: -14px;
                left: 12px;
            }
        }
    }
}

/*nav-main*/
.mainNav{
    overflow: hidden;
    line-height: 34px;
    font-size:14px;
    li{
        float:left;
        a{
            padding:0 20px;
            color:#ede8e6;
//          background: url(../img/nav-line.jpg) no-repeat;   
        }
        span{
            background: url(../img/nav-line.jpg) no-repeat;
            width:2px;
            height:19px;
            display:inline-block;
            vertical-align: middle;
        }
    }
    .navFirst{
        margin-left: 232px;
        background:none ;
       
    }
    li:hover{
        background:#bc0001 ;
    }
    li:hover span{
        display:none;
    }
}

.nav{
    position: relative;
    
}
/*navLeft*/
.categorys{
    width:200px;
    position: absolute;
    left:32px;
    top:0px;
    background: rgba(255,255,255,.1);
    z-index: 1;
    
    h3{
        background:rgba(161,16,17,.5) url(../img/1.jpg) no-repeat 10px 13px;
        font-size:14px;
        line-height:34px;
        font-weight: bold;
        a{
            margin-left:30px;
            margin-right:50px;
            color:#dde7e5;
        }
        b{
            display:inline-block;
            width:7px;
            height:4px;
            background: url(../img/arrow.png) no-repeat;
        }
    }
    .section{
        background:#fff;
        font-size:12px;
        dl{
            position: relative;
          dt{
              border-bottom: 1px solid #d4d4d4;
              h4{
                   margin-left:10px;
                   color:#666666;
                   font-weight: bold; 
                   padding-bottom: 3px;
                   padding-top:8px;
               
              }
              p{
                  padding-bottom: 3px;
                  margin-left: 10px;
                  a{
                      line-height: 24px;
                      margin-right:8px;
                      color:#666666;
                  }
              }
          } 
          dd{
              position: absolute;
              left:200px;
              top:0px;
              display:none;
              width:522px;
              background:rgba(255,255,255,.9);
              box-shadow: 0 0 5px #eee, 0 0 0px #eee, 0px 0px 0px #fff, 2px 2px 7px #fff;
                
              ul{
//                width:240px;
                  float:left;
                  overflow: hidden;
                  margin-left: 10px;
                  padding-top:4px;
                 
                 
                  li{
                      width:240px;
                      overflow: hidden;
                      border-bottom:1px dotted #81665c;
                      h5{
                          font-size:14px;
                          color:#666666;
                          padding-right: 26px;
                          float:left;
                          
                      }
                      p{
                          float:right;
                          width:170px;
                          padding-right: 18px;
                          font-size: 12px;
                          padding-bottom: 9px;
                          a{
                              padding:0 6px;
                              color:#666666;
                              line-height: 22px;
                          }
                      }
                  }
                  .ulRight{
                      float:right;
                      padding-left: 16px;
                  }
              }
              
          }
        }
    }
}



/*shopping common*/
$border:1px solid #e5e5e5 !default;
.det{
    border:$border;
    float:left;
    overflow: hidden;
    width:182px;
    height:298px;
    margin-right:8px;
    .time{
        line-height:26px;
        background:#f8f8f5 url(../img/sprite.png) no-repeat 6px -91px;
        font-size:12px;
        padding-left: 26px;
       
        strong{
            padding:0 2px;
            margin:0 2px;
            vertical-align: middle;
            line-height:20px;
            background:#8d6c5a;
            font-weight: 100;
            color:#fff;
            display:inline-block;
        }
    }
    img{
        margin:10px 0px 10px 38px;
    }
    p{
        height:74px;
        background:#f4f4f0;
        padding:0px 0 0 6px;
        a{
            color:#5b473d;
            font-size:12px;
        }
        span{
            padding-top:12px;
            display:block;
            label{
                color:#9999a1;
                font-size:12px;
            }
            strong{
                color:#c53f4c;
                
            }
        }
    }
    .shopping{
        line-height:26px;
        color:#bbb;
        font-size:14px;
        margin-left:12px;
    }
}
/*<---------shopping common----end----------->*/


/*footer*/
.footer{
    background:#e8e8e8;
    padding-top:12px;
    overflow: hidden;
    .footer-h{
        border-bottom: 1px solid #d3161b;
        overflow: hidden;
        width:1200px;
        height:124px;
        margin:0 auto;
        h2{
            margin-right: 62px;
            line-height:124px;
            color:#d3161b;
            font-size:28px;
            font-weight: 100;
        }
        a,h2{
            float:left;
        }
        a{
            margin-top:45px;
            line-height:38px;
            background:url(../img/footer1.png) no-repeat;
            h3{
                margin:0px 33px 0px 33px;
                color:#d3161b;
                font-size:20px;
                height:38px;
                text-indent: 38px;
            }
            em{
                text-indent: 20px;
                color:#999999;
                font-size:12px;
                font-style: normal;
            }
        }
        .zp{
            background-position: -109px 0;
        }
        .th{
            background-position: -109px -38px;
        }
        .hw{
            background-position: -109px -76px;
        }
        .yf{
            background-position: -109px -113px;
        }
        .mf{
            background-position: -109px -152px;
        }
    }
    .f-content{
        overflow: hidden;
        .foot-ul{
            float:left;
            width:960px;
            overflow: hidden;
            padding-bottom: 80px;
            li{
                padding:32px 30px 0px 30px;
                float:left;
                font-size:12px;
                line-height: 22px;
                h4{
                    color:#666666;
                    line-height: 38px;
                }
                p{
                    a{
                        display:block;
                        color:#666666;
                    }
                }
                .letter{
                    width:86px;
                    height:83px;
                    background:url(../img/weixin.png) no-repeat;
                }
            }
        }
        .foot-col3{
            float:left;
            padding:{
                top:40px;
                left:50px;
                right:7px;
            }
            .mobile{
                
                a{
                    width:105px;
                    height:30px;
                    display:inline-block;
                    background:url(../img/footer1.png) no-repeat;
                }
                .appstore{
                    background-position: 0 0;
                }
                .store{
                    background-position: 0 -29px;
                }
            }
            dl{
                overflow: hidden;
                dt,dd{
                    width:100px;
                    height:100px; 
                    float:left; 
                }
                dt{
                    background:url(../img/footer1.png) no-repeat 0 -200px; 
                    padding-right: 20px;
                }
                dd{
                    
                    background:url(../img/footer2.png) no-repeat 0 -300px; 
                }
            }
            .weibo{
                 margin-top:22px;
                height:40px;
                ul{
                font-size:12px;
                    .lifir{
                         width:40px;
                    }
                    li{
                        float:left;
                        a{
                            display: block;
                            width:40px;
                            height:40px;
                            background:url(../img/weibo.jpg) no-repeat;
                        }
                    }
                    .lise{
                        width:60px;
                        margin-left:8px;
                        p{
                            color:#666666;
                        }
                        .gz{
                            width:60px;
                            line-height:18px;
                            text-align: center;
                            border-radius: 3px;
                            background:#ffffff;
                            margin-top:6px;
                            
                        }
                    }
                    .gf{
                        margin:14px 0 0 10px;
                        color:#333333;
                    }
                } 
            }
        }
    }
}
/*bottom*/
.b-nav{
    font-size:12px;
    color:#867666;
    background:#f8f8f5;
    line-height:40px;
    text-align: center;
    a{
        margin:0 16px;
        color:#867666;
    }
}
.b-links{
    background:#f6f6f6;
    height:30px;
    padding-left: 157px;
    line-height: 30px;
    font-size:12px;
    h5,p{
        float:left;
    }
    h5 a{
    margin-right:14px;
    color:#cccccc;   
    }
    p{
        a{
            color:#cccccc;   
            padding:0 5px;
        }
    }
}
.b-license{
    background:#f6f6f6;
    line-height: 31px;
    text-align: center;
    font-size:12px;
    color:#999999;
    span{
        em{
            vertical-align:middle;
            display:inline-block;
            width:20px;
            height:20px;
            background:url(../img/bg_header2.png);
        }
        .top100{
            background-position: -180px -230px;
        }
        .year{
            background-position: -180px -250px;
        }
        .wl{
            background-position: -180px -270px;
        }
        .shgs{
            background-position: -180px -290px;
        }
    }
    a{
       color:#999999; 
    }
      
}
.b-copy{
    font-size:12px;
    color:#999999;
    text-align: center;
    background:#f6f6f6;
    overflow: hidden;
    a{
        color:#999999;
    }
    .cx{
        width:246px;
        height:180px;
        margin:0 auto;
        a{
            margin:10px 5px 0;
            float:left;
        }
        .alast{
            float:right;
            
        }
    }
}