/*content*/
.content{
    overflow:hidden;
    width:960px;
    margin:0 auto;
    h3{
        font-weight: 100;
        line-height: 36px;
        font-size:12px;
        color:#333;
        em{
            display:inline-block;
            width:15px;
            height:13px;
            background:url(../img/bread.gif) no-repeat;
        }
        a{
            padding:0 6px;
            color:#333333;    
        }
    }
    .left-pan{
        float:left;
        width:148px;
        border:1px solid #dfdfdf;
        h3{
            line-height: 32px;
            background: url(../img/leftnavheadbg.gif) no-repeat;
            text-indent:7px;
            color:#fff;
        }
        p{
            line-height: 30px;
            font-size:12px;
            margin-left: 15px;
            span{
                width:32px;
                line-height:18px;
                background:#f7d300;
                font-size:10px;
                display:inline-block;
                border-radius: 5px;
                margin-left:5px;
                text-align: center;
                color:#fff;
            }
        }
        dl{
            font-size: 12px;
            dt{
                font-size: 14px;
                text-indent: 16px;
                line-height: 30px;
                background:#f7f7f7;
                font-weight: 900;
                color:#333;
                span{
                   margin-left: 16px;
                   margin-right: 7px; 
                }
                
            }
            dd{
                border-bottom: 1px solid #fff;
                line-height: 29px;
                span{
                   margin-left: 16px;
                   margin-right: 7px; 
                }
            }
            dd:hover{
                border-bottom: 1px solid #d32f21;
            }
            .active{
                margin-top:5px;
                background:#cc0000;
                color:#fff;
            }
        }
    }
    .right-pan{
        float:left;
        margin-left: 10px;
        .title{
            box-sizing: border-box;
            width:800px;
            background:#fbfbfb;
            border:1px solid #dfdfdf;
            border-top:3px solid #cc0000;
            h2{
                margin-left: 8px;
                font-size: 14px;
                line-height: 28px;
            }
        }
        .search{
            line-height: 46px;
            margin-top:16px;
            font-size:12px;
            overflow: hidden;
            span{
                float:left;
                color:#666666;
                select{
                    option{
                    }
                }
            }
            .ss{
                float:right;
                input{
                    width:208px;
                    line-height:22px;
                    border:{
                        left:1px solid #999999;
                        top:1px solid #999999;
                    }
                }
            }
        }
        .list-tab{
            background:#ffeeca;
            line-height: 30px;
            font-size: 12px;
            border:1px solid #ff0000;
            p{
                margin-left: 10px;
                em{
                    font-style: normal;
                    color:#0066cb;
                }
                span{
                    color:#ff004b;
                }
            }
        }
        .table{
            border-top:none;
            border: 1px solid #DFDFDF;
            text-align: left;
            margin-bottom: 10px;
            width:798px;
            .tit{
                line-height: 30px;
                background:url(../img/bbdr_bg.jpg);
                color:#333333;
                font-size: 12px;
                th{
                    font-weight: 100;
                }
            }
            tr{
            }
            tr td{
                border-bottom: 1px solid #dfdfdf;
                font-size: 12px;
                line-height: 30px;
            }
            .colr{
                color:#0066cc;
            }
            
        }
        .page{
            margin-top:10px;
            float:right;
            a{
                font-size: 12px;
                width:56px;
                line-height:22px;
                border:1px solid #cccccc;
                display:inline-block;
                vertical-align: middle;
                color:#666666;
              em{
                  display:inline-block;
                  width:13px;
                  height:18px;
                  background:url(../img/pic2png.png) no-repeat left -219px;
              }  
            }
            span{
                font-size: 12px;
                font-weight: 900;
                margin-left: 10px;
                color:#d32f21;
            }
        }
    }
}
