.nav{
    position: relative;
    
}
/*navLeft*/
.categorys{
    width:200px;
    position: absolute;
    left:32px;
    top:0px;
    background: rgba(255,255,255,.1);
    z-index: 1;
    
    h3{
        background:rgba(161,16,17,.5) url(../img/1.jpg) no-repeat 10px 13px;
        font-size:14px;
        line-height:34px;
        font-weight: bold;
        a{
            margin-left:30px;
            margin-right:50px;
            color:#dde7e5;
        }
        b{
            display:inline-block;
            width:7px;
            height:4px;
            background: url(../img/arrow.png) no-repeat;
        }
    }
    .section{
        background:#fff;
        font-size:12px;
        dl{
            position: relative;
          dt{
              border-bottom: 1px solid #d4d4d4;
              h4{
                   margin-left:10px;
                   color:#666666;
                   font-weight: bold; 
                   padding-bottom: 3px;
                   padding-top:8px;
               
              }
              p{
                  padding-bottom: 3px;
                  margin-left: 10px;
                  a{
                      line-height: 24px;
                      margin-right:8px;
                      color:#666666;
                  }
              }
          } 
//        .one{
//            display:block;
//        } 
          dd{
              position: absolute;
              left:200px;
              top:0px;
              display:none;
              width:522px;
//            height:400px;
              background:rgba(255,255,255,.9);
              box-shadow: 0 0 5px #eee, 0 0 0px #eee, 0px 0px 0px #fff, 2px 2px 7px #fff;
                
              ul{
//                width:240px;
                  float:left;
                  overflow: hidden;
                  margin-left: 10px;
                  padding-top:4px;
                 
                 
                  li{
                      width:240px;
                      overflow: hidden;
                      border-bottom:1px dotted #81665c;
                      h5{
                          font-size:14px;
                          color:#666666;
                          padding-right: 26px;
                          float:left;
                          
                      }
                      p{
                          float:right;
                          width:170px;
                          padding-right: 18px;
                          font-size: 12px;
                          padding-bottom: 9px;
                          a{
                              padding:0 6px;
                              color:#666666;
                              line-height: 22px;
                          }
                      }
                  }
                  .ulRight{
                      float:right;
                      padding-left: 16px;
                  }
              }
              
          }
        }
    }
}
/*banner*/
#box{
    position:relative;
    width:100%;
    height:500px;
//  overflow: hidden;
    
    img{
        position:absolute;
        left:0px;
        top:0;
        height:500px;
        width:100%;
        
    }
    #imgId1{
            opacity:1;
            background:url(../img/banner1.jpg) no-repeat center;
    }
    #imgId2{
        opacity:0;
         background:url(../img/banner2.jpg) no-repeat center;
    }
    #imgId3{
        opacity:0;
         background:url(../img/banner3.jpg) no-repeat center;
    }
    #imgId4{
        opacity:0;
         background:url(../img/banner4.jpg) no-repeat center;
    }
    #imgId5{
        opacity:0;
        background:url(../img/banner5.jpg) no-repeat center;
    }
    #imgId6{
        opacity:0;
        background:url(../img/banner6.jpg) no-repeat center;
    }
    #imgId7{
        opacity:0;
        background:url(../img/banner7.jpg) no-repeat center;
    }
    #imgId8{
        opacity:0;
        background:url(../img/banner8.jpg) no-repeat center;
    }
    #btns{
            position:absolute;
            left:40%;
            bottom:20px;
            color:white;
            font-size:18px;
            text-align: center;
            line-height: 30px;
            #lis{
                float:left;
                margin-left:6px;
                width:30px;
                height:30px;
                border-radius:50%;
                background-color:#86685e;
                cursor: pointer;
            }
        }
}

/*active*/
.activeBig{
    width:1200px;
    margin:0 auto;
    margin-top:10px;
    height:370px;
    clear:both;
//  overflow: hidden;
    .active-left{
        float:left;
        position: relative;
        width:200px;
        height:370px;
//      background:pink;
        border:1px solid #e7e7e7;
        .hovS{
            display:none;
            position: absolute;
            left:0;
            top:0;
            ul{
                li{
                    float:left;
                    width:98px;
                    line-height:50px;
                    background: #f8f8f5;
                    border:1px solid #ded9d3;
                    text-align: center;
                    a{
                        color:#333333;
                        font-size:12px;
                    }
                }
                    li:hover a{
                        color:#d85a44;
                    }
                .last{
                    width:198px;
                }
            }
            p{
                position: absolute;
                left:0px;
                top:158px;
                font-size: 12px;
                line-height:50px;
                height:50px;
                text-align: center;
                width:200px;
                color:white;
                background: #9c361f;
            }
        }
        .tab{
            width:200px;
            .menu{
                
                overflow: hidden;
                .active {;
                    background: #fff;
                    font-weight: bold;
                    color:#d85a44;
                    border-top:1px solid #bfb7aa;
                    border-bottom: none;
                }
                li{
                    margin:0;
                    padding:0;
                    text-align: center;
                    float:left;
                    font-size:12px;
                    width:66px;
                    line-height:30px;
                    background:#e0dbd8;
                    border: 1px solid #bfb7aa;
                    box-sizing: border-box;
                    cursor: pointer;
                }
            }
            
            .panel {
                margin-top:10px;
                font-size:12px;
                padding: 10px 0;
                display:none;
                ul {
                    width:178px;
                   li{
                        overflow: hidden;
                        background:url(../img/dot.jpg) no-repeat 0 center;
                        line-height:24px;
                        height:24px;
                        text-indent: 10px;
                        margin-left:10px;
                         
                        a{
                          color:#888888;  
                        }
                    }
                    li:hover a{
                        text-decoration: underline;
                    }
                }
                    
            }
            .active {
                    display: block;
                } 
        }
        .jian{
            position: absolute;
            top:0;
            left:-20px;
            width:20px;
            height:20px;
            background: url(../img/jian.jpg) no-repeat;
        }
        .jia{
            position: absolute;
            top:140px;
            left:-20px;
            width:20px;
            height:20px;
            background: url(../img/jia.jpg) no-repeat;
            display:none;
        }
    }
    .active-right{
        float:left;
        width:990px;
        height:370px;
        .menu{
            height:60px;
            overflow: hidden;
            border-bottom:2px solid #d3161b;
            .active{
                background: #d3161b;
                a,span{
                    color:#fff;
                }
            }
            li{
                padding:10px 0 0 22px;
                width:172px;
                height:50px;
                background: #ffe8e8;
                float:left;
                margin:0 2px;
                font-size: 20px;
                a{
                    font-weight: 700;
                   color:#73584a; 
                }
                span{
                    color:#73584a;
                    display:block;
                    font-size:12px;
                }
            }
        }
        
        
        .panel{
            overflow: hidden;
            margin-top: 10px;
            display: none;
            padding-left: 20px;
        }
        .active{
            display:block;
        }
    }
}

/*seckill*/
//1200px 352px;
.seckill{
    width:1200px;
    margin:20px auto 0;
    overflow: hidden;
    .sec-top{
        overflow: hidden;
        background:#e60314;
        
        .time-left{
            width:208px;
            float:left;
            padding:14px 0 10px 0;
            text-indent: -9999999px;
            background: url(../img/title01.png) no-repeat 28px 10px;
        }
        .time-right{
            float:right;
            font-size: 12px;
            color:white;
            line-height: 50px;
            margin-right: 26px;
            strong{
                margin:0 5px;
                border-radius: 4px;
                display:inline-block;
                width:32px;
                line-height:32px;
                background:#fff;
                color:#b20808;
                vertical-align: middle;
                font-size: 26px;
            }
        }
    }
    .sec-bottom{
        .seckFirst{
            float:left;
            border:1px solid #e5e5e5;
            width:198px;
            height:300px;
            background:url(../img/miao.png) no-repeat 10px 10px;
            z-index: 1;
            img{
                margin:3px 40px 0px;
                width:122px;
                height:200px;
            
            }
            .text{
                margin:0 15px 0 15px;
                a{
                    color:#666666;
                    font-size: 14px;
                }
                a:hover{
                    color:brown;
                }
                .en{
                    width:166px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    font-size: 12px;
                    color:#999999;
                    cursor: pointer;
                    margin-bottom: 12px;
                    
                }
                .pp{
                    color:#f10214;
                    font-size: 20px;
                    display: inline-block;
                  
                }
                .shan{
                    font-size: 14px;
                    text-decoration: line-through;
                    color:#999999;
                }
            }
        }
    }
}

/*-----------------import-----------------*/
.import{
    width:1200px;
    margin:15px auto 0;
    overflow: hidden;
    border-bottom: 1px solid #d2d2ce;
    .header{
        height:36px;
        .fir{
            float:left;
            width:142px;
            color:#666666;
            font-size: 22px;
            background:url(../img/title1.png) no-repeat 0 -385px; 
            text-indent: -99999px;
        }
        .navmin{
            float:right;
            li{
                float:left;
                font-size:12px;
                line-height: 32px;
                
                a{
                    margin:0 20px 0 20px;
                    color:#5a463d;
                }
            }
            
            .more{
                float:left;
                width:100px;
                line-height:20px;
                margin-top:6px;
                background: #73584a;
                vertical-align: middle;
                font-size:12px;
                em{
                    display: inline-block;
                    width:20px;
                    line-height:20px;
                    text-indent: -999999px;
                    background:#624b40 url(../img/sprite.png) no-repeat -211px -40px;
                }
                a{
                    color:#fff;
                    
                }
            }
        }
    }
    .import-first{
        float:left;
        .imp-b{
            margin-bottom: 12px;
            height:250px;
            background:pink;
               .uls{
                float:left;
                width:202px;
                background:#d6c9bc;
                overflow: hidden;
                li{
                    border:1px solid #dfd5ca;
                    width:99px;
                    height:48px;
                    float:left;
                }
            }
        }
        .imp2{
            margin-top:15px;
            .tit{
                margin-top: 15px;
                width:960px;
                overflow: hidden;
                border-bottom: 1px solid #d2d2ce;
                h3{
                    color:#715b4a;
                    font-size:12px;
                    float:left;
                    line-height: 30px;
                    
                }
                span{
                    color:#5a463d;
                    font-size:12px;
                    float:right;
                    display:inline-block;
                    width:60px;
                    line-height:20px;
                    margin-top:3px;
                    background:#f4f4f0;
                    text-align: center;
                    border-radius: 20px;
                }
            }
            .select{
                width:960px;
                overflow: hidden;
                .det{
                    border:1px solid #fff;
                }
                .det:hover{
                    border:1px solid #e7e7e2;
                    box-shadow: 0 0px 5px 0px #e7e7e2;
                }
            }
            
        }
    }
}

.imp-right{
    height:976px;
    background: yellowgreen;
    float:right;
    width:238px;
    .right-b{
        background:#f4f4f0;
        .bt{
            height:45px;
            border-bottom:1px solid #dddddd;
        }
        .bt2{
            .btfirst{
                border-bottom:1px solid #dddddd;
                overflow: hidden;
                .btHidden{
                    line-height:40px;
                    padding-left: 5px;
                    display:none;
                    .num{
                        display:inline-block;
                        width: 24px;
                        line-height: 20px;
                        color:#5b473b;
                        text-align: center;
                       background: url(../img/sprite.png) no-repeat -84px -70px; 
                    }
                    .show{
                        color:#5b473d;
                        font-size:12px;
                    }  
                }
                
                .imgs{
                    float:left;
                    position: relative;
                    width:70px;
                    height:104px;
                    background:#fff;
                    margin:10px 0 10px 12px;
                    padding:6px 0 0 10px;
                    em{
                        color:#fff;
                        font-style:normal;
                        position: absolute;
                        left:0;
                        top:0;
                        width: 24px;
                        line-height: 20px;
                        text-align: center;
                        background: url(../img/sprite.png) no-repeat -60px -70px; 
                    }
                }
                .pls{
                    width:130px;
                    float:left;
                    margin:{
                        left:10px;
                        top:20px;
                    }
                    a{
                        
                        color:#5b473d;
                        font-size:12px;
                    }
                    .shouchu{
                        font-size:12px;
                        color:#999999;
                        font-style: normal;
                        line-height: 36px;
                        span{
                            color:#5b475e;
                        }
                    }
                    span{
                        color:#c53f4c;
                    }
                }
            }
        }
    }
    
}

#two{
    background:url(../img/title_01.png) no-repeat 0px 0px;
}
#bann{
    width:4800px;
}
#dot{
    position: absolute;
    left:260px;
    bottom:10px;
}
#rightlist{
    height:590px;
}
/*------------------section2----------------*/
.section2{
    width:1200px;
    height:150px;
    margin:10px auto 16px;
}
/*----------------section3-----------------*/
.section3{
    width:1200px;
    margin:0 auto;
    .sec-header{
        height:38px;
        border-bottom: 1px solid #e54247;
        h3{
            float:left;
            height:34px;
            width:306px;
            text-indent: -99999px;
            background:url(../img/title1.png) no-repeat;
        }
        p{
            float:right;
            font-size:12px;
            color:#999999;
            line-height: 34px;
            width:170px;
            em{
                vertical-align: middle;
                margin-left: 10px;
                display:inline-block;
                width:40px;
                height:18px;
                background:url(../img/title3.jpg) no-repeat -130px -8px;
            }
        }
    }
    .content{
        overflow: hidden;
        .contentLeft{
            float:left;
            width:301px;
            height:374px;
            padding:22px 0 0 20px;
            border:1px solid #e7e7e7;
            background:#edf4f8;
            h2{
                width:300px;
                height:23px;
               background:url(../img/icon2.png) no-repeat 22px 0; 
            }
            ul{
                li{
                    cursor: pointer;
                    width:125px;
                    line-height:45px;
                    background: pink;
                    float:left;
                    margin:36px 0 0 20px;
                    background:url(../img/icon2.png) no-repeat 0 -23px;
                    font-size: 20px;
                    a{
                        color:#666666;
                        margin-left: 56px;
                    }
                }
            }
        }
        .contentRight{
            float:left;
            .con-f{
                float:left;
                padding:25px 19px 12px 4px;
                border:1px solid #ebebe8;
                overflow: hidden;
                
                img{
                    float:left;
                    width:85px;
                    height:140px;
                }
                dl{
                    float:left;
                    width:182px;
                    font-size: 12px;
                    line-height: 20px;
                    dt{
                        a{
                           color:#663333; 
                        }
                        a:hover{
                            text-decoration: underline;
                        }  
                    }
                    dd{
                        color:#777777;
                    }
                    .pri{
                        color:#c53f4c;
                        padding-top:20px;
                        font-size:20px;
                    }
                }
            }
        }
    }
}
/*-------------section4----------------*/
.section4{
    width:1200px;
    margin:20px auto 0;
    overflow: hidden;
    
    .h-sec4{
        height:40px;
        border-bottom:1px solid #e54247;
        h2{
            text-indent: -99999px;
            background: url(../img/title1.png) no-repeat 0 -171px;
        }
    }
    .sec-con{
        overflow: hidden;
        .con-l{
            float:left;
            a{
                img{
                    
                }
            }
        }
        .con-r{
            float:left;
            
            ul li{
                margin-left: 8px;
                float:left;
            }
            .lis{
                margin-top:9px;
            }
        }
    }
}
/*-------------section5-------------*/
.section5{
    width:1200px;
    margin:30px auto 0;
    .h-sec4{
        height:40px;
        border-bottom:1px solid #e54247;
        h2{
            text-indent: -99999px;
            background: url(../img/title1.png) no-repeat 0 -171px;
        }
    }
    .box{
        overflow: hidden;
        width:1200px;
        li{
            width:240px;
            height:250px;
            float:left;
            cursor: pointer;
        }
    }
}
/*--------------section6------------*/
.brandLogo{
    width:1200px;
    margin:0 auto 28px;
    ul{
       overflow: hidden; 
        li{
            border:1px solid #ebebe8;
            overflow: hidden;
            float:left;
            width:238px;
            height:130px;
            position: relative;
            a{
                display:block;
                width:220px;
                height: 110px;
                overflow: hidden;
                margin:10px 9px 10px 9px;
                img{
                    position: absolute;
                    box-sizing: border-box;
                    width:320px;
                    height:110px;
                    transition: .5s all;
                }
            }
        }
    } 
}
/*section7*/
.section7{
    width:1200px;
    margin:0 auto 40px;
    height:245px;
    overflow: hidden;
    .left-f{
        float:left;
        width:948px;
        height:40px;
        background:#f8f8f5 url(../img/title1.png) no-repeat 0 -204px;
        .h-sec4{
            height:40px;
            border-bottom:1px solid #dddddd;
           
            h2{
                text-indent: -99999px;
                
            }
        }
        .friend{
            width:948px;
            overflow: hidden;
            height:220px;
            .f-one{
                height:220px;
                border-right: 1px solid #ebebe8;
                float:left;
                .imgs2{
                    float:left;
                    margin:{
                        top:15px;
                        left:21px;
                    }
                }
                dl{
                    float:left;
                    width:184px;
                    overflow: hidden;
                    dt{
                        a{
                            color:#5c483d;
                            font-size:12px;
                        }
                    }
                    .jiage{
                        color:#c53f62;
                    }
                    dd{
                        overflow: hidden;
                        .user{
                            margin-top:10px;
                            float:left;
                            img{
                                width:50px;
                                height:50px;
                                border-radius: 50%;
                            }
                            span{
                                color:#999999;
                                font-size:6px;
                            }
                        }
                        .pingjia{
                            float:left;
                            span{
                                padding-left: 6px;
                                border-radius: 5px;
                                color:#fff;
                                font-size:12px;
                                display: inline-block;
                                width:58px;
                                line-height:20px;
                                background:#c19e64;
                                
                                strong{
                                    margin-left: 6px;
                                    width:30px;
                                    height:16px;
                                    background:#b58d53;
                                }
                            }
                            b{
                                font-weight: 100;
                                width:120px;
                                color:#666666;
                                font-size:12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .right-r{
        overflow: hidden;
        float:left;
        margin-left: 12px;
        .r-cont{
            width:240px;
            line-height:40px;
            text-indent: 10px;
            background:#f8f8f5;
            float:left;
            color:#282828;
            font-size:16px;
            
        }
    }
}
/*footer*/
.footer{
    background:#e8e8e8;
    padding-top:12px;
    overflow: hidden;
    .footer-h{
        border-bottom: 1px solid #d3161b;
        overflow: hidden;
        width:1200px;
        height:124px;
        margin:0 auto;
        h2{
            margin-right: 62px;
            line-height:124px;
            color:#d3161b;
            font-size:28px;
            font-weight: 100;
        }
        a,h2{
            float:left;
        }
        a{
            margin-top:45px;
            line-height:38px;
            background:url(../img/footer1.png) no-repeat;
            h3{
                margin:0px 33px 0px 33px;
                color:#d3161b;
                font-size:20px;
                height:38px;
                text-indent: 38px;
            }
            em{
                text-indent: 20px;
                color:#999999;
                font-size:12px;
                font-style: normal;
            }
        }
        .zp{
            background-position: -109px 0;
        }
        .th{
            background-position: -109px -38px;
        }
        .hw{
            background-position: -109px -76px;
        }
        .yf{
            background-position: -109px -113px;
        }
        .mf{
            background-position: -109px -152px;
        }
    }
    .f-content{
        overflow: hidden;
        .foot-ul{
            float:left;
            width:960px;
            overflow: hidden;
            padding-bottom: 80px;
            li{
                padding:32px 30px 0px 30px;
                float:left;
                font-size:12px;
                line-height: 22px;
                h4{
                    color:#666666;
                    line-height: 38px;
                }
                p{
                    a{
                        display:block;
                        color:#666666;
                    }
                }
                .letter{
                    width:86px;
                    height:83px;
                    background:url(../img/weixin.png) no-repeat;
                }
            }
        }
        .foot-col3{
            float:left;
            padding:{
                top:40px;
                left:50px;
                right:7px;
            }
            .mobile{
                
                a{
                    width:105px;
                    height:30px;
                    display:inline-block;
                    background:url(../img/footer1.png) no-repeat;
                }
                .appstore{
                    background-position: 0 0;
                }
                .store{
                    background-position: 0 -29px;
                }
            }
            dl{
                dt,dd{
                    width:100px;
                    height:100px; 
                    float:left; 
                }
                dt{
                    background:url(../img/footer1.png) no-repeat 0 -200px; 
                    padding-right: 20px;
                }
                dd{
                    
                    background:url(../img/footer2.png) no-repeat 0 -300px; 
                }
            }
            .weibo{
                
            }
        }
    }
}
