.nav{
    position: relative;
    
}
/*navLeft*/
.categorys{
    width:200px;
    position: absolute;
    left:32px;
    top:0px;
    background: rgba(255,255,255,.1);
    z-index: 1;
    
    h3{
        background:rgba(161,16,17,.5) url(../img/1.jpg) no-repeat 10px 13px;
        font-size:14px;
        line-height:34px;
        font-weight: bold;
        a{
            margin-left:30px;
            margin-right:50px;
            color:#dde7e5;
        }
        b{
            display:inline-block;
            width:7px;
            height:4px;
            background: url(../img/arrow.png) no-repeat;
        }
    }
    .section{
        background:#fff;
        font-size:12px;
        dl{
            position: relative;
          dt{
              border-bottom: 1px solid #d4d4d4;
              h4{
                   margin-left:10px;
                   color:#666666;
                   font-weight: bold; 
                   padding-bottom: 3px;
                   padding-top:8px;
               
              }
              p{
                  padding-bottom: 3px;
                  margin-left: 10px;
                  a{
                      line-height: 24px;
                      margin-right:8px;
                      color:#666666;
                  }
              }
          } 
//        .one{
//            display:block;
//        } 
          dd{
              position: absolute;
              left:200px;
              top:0px;
              display:none;
              width:522px;
//            height:400px;
              background:rgba(255,255,255,.9);
              box-shadow: 0 0 5px #eee, 0 0 0px #eee, 0px 0px 0px #fff, 2px 2px 7px #fff;
                
              ul{
//                width:240px;
                  float:left;
                  overflow: hidden;
                  margin-left: 10px;
                  padding-top:4px;
                 
                 
                  li{
                      width:240px;
                      overflow: hidden;
                      border-bottom:1px dotted #81665c;
                      h5{
                          font-size:14px;
                          color:#666666;
                          padding-right: 26px;
                          float:left;
                          
                      }
                      p{
                          float:right;
                          width:170px;
                          padding-right: 18px;
                          font-size: 12px;
                          padding-bottom: 9px;
                          a{
                              padding:0 6px;
                              color:#666666;
                              line-height: 22px;
                          }
                      }
                  }
                  .ulRight{
                      float:right;
                      padding-left: 16px;
                  }
              }
              
          }
        }
    }
}
/*banner*/
#box{
    position:relative;
    width:100%;
    height:500px;
//  overflow: hidden;
    
    img{
        position:absolute;
        left:0px;
        top:0;
        height:500px;
        width:100%;
        
    }
    #imgId1{
            opacity:1;
            background:url(../img/banner1.jpg) no-repeat center;
    }
    #imgId2{
        opacity:0;
         background:url(../img/banner2.jpg) no-repeat center;
    }
    #imgId3{
        opacity:0;
         background:url(../img/banner3.jpg) no-repeat center;
    }
    #imgId4{
        opacity:0;
         background:url(../img/banner4.jpg) no-repeat center;
    }
    #imgId5{
        opacity:0;
        background:url(../img/banner5.jpg) no-repeat center;
    }
    #imgId6{
        opacity:0;
        background:url(../img/banner6.jpg) no-repeat center;
    }
    #imgId7{
        opacity:0;
        background:url(../img/banner7.jpg) no-repeat center;
    }
    #imgId8{
        opacity:0;
        background:url(../img/banner8.jpg) no-repeat center;
    }
    #btns{
            position:absolute;
            left:40%;
            bottom:20px;
            color:white;
            font-size:18px;
            text-align: center;
            line-height: 30px;
            #lis{
                float:left;
                margin-left:6px;
                width:30px;
                height:30px;
                border-radius:50%;
                background-color:#86685e;
                cursor: pointer;
            }
        }
}

/*active*/
.activeBig{
    width:1200px;
    margin:0 auto;
    margin-top:10px;
    height:370px;
    clear:both;
//  overflow: hidden;
    .active-left{
        float:left;
        position: relative;
        width:200px;
        height:370px;
//      background:pink;
        border:1px solid #e7e7e7;
        .hovS{
            display:none;
            position: absolute;
            left:0;
            top:0;
            ul{
                li{
                    float:left;
                    width:98px;
                    line-height:50px;
                    background: #f8f8f5;
                    border:1px solid #ded9d3;
                    text-align: center;
                    a{
                        color:#333333;
                        font-size:12px;
                    }
                }
                    li:hover a{
                        color:#d85a44;
                    }
                .last{
                    width:198px;
                }
            }
            p{
                position: absolute;
                left:0px;
                top:158px;
                font-size: 12px;
                line-height:50px;
                height:50px;
                text-align: center;
                width:200px;
                color:white;
                background: #9c361f;
            }
        }
        .tab{
            width:200px;
            .menu{
                
                overflow: hidden;
                .active {;
                    background: #fff;
                    font-weight: bold;
                    color:#d85a44;
                    border-top:1px solid #bfb7aa;
                    border-bottom: none;
                }
                li{
                    margin:0;
                    padding:0;
                    text-align: center;
                    float:left;
                    font-size:12px;
                    width:66px;
                    line-height:30px;
                    background:#e0dbd8;
                    border: 1px solid #bfb7aa;
                    box-sizing: border-box;
                    cursor: pointer;
                }
            }
            
            .panel {
                margin-top:10px;
                font-size:12px;
                padding: 10px 0;
                display:none;
                ul {
                    width:178px;
                   li{
                        overflow: hidden;
                        background:url(../img/dot.jpg) no-repeat 0 center;
                        line-height:24px;
                        height:24px;
                        text-indent: 10px;
                        margin-left:10px;
                         
                        a{
                          color:#888888;  
                        }
                    }
                    li:hover a{
                        text-decoration: underline;
                    }
                }
                    
            }
            .active {
                    display: block;
                } 
        }
        .jian{
            position: absolute;
            top:0;
            left:-20px;
            width:20px;
            height:20px;
            background: url(../img/jian.jpg) no-repeat;
        }
        .jia{
            position: absolute;
            top:140px;
            left:-20px;
            width:20px;
            height:20px;
            background: url(../img/jia.jpg) no-repeat;
            display:none;
        }
    }
    .active-right{
        float:left;
        width:990px;
        height:370px;
        .menu{
            height:60px;
            overflow: hidden;
            border-bottom:2px solid #d3161b;
            .active{
                background: #d3161b;
                a,span{
                    color:#fff;
                }
            }
            li{
                padding:10px 0 0 22px;
                width:172px;
                height:50px;
                background: #ffe8e8;
                float:left;
                margin:0 2px;
                font-size: 20px;
                a{
                    font-weight: 700;
                   color:#73584a; 
                }
                span{
                    color:#73584a;
                    display:block;
                    font-size:12px;
                }
            }
        }
        
        
        .panel{
            overflow: hidden;
            margin-top: 10px;
            display: none;
            padding-left: 20px;
            .det{
                border:1px solid #e5e5e5;
                float:left;
                overflow: hidden;
                width:182px;
                height:298px;
                margin-right:8px;
                .time{
                    line-height:26px;
                    background:#f8f8f5 url(../img/sprite.png) no-repeat 6px -91px;
                    font-size:12px;
                    padding-left: 26px;
                   
                    strong{
                        padding:0 2px;
                        margin:0 2px;
                        vertical-align: middle;
                        line-height:20px;
                        background:#8d6c5a;
                        font-weight: 100;
                        color:#fff;
                        display:inline-block;
                    }
                }
                img{
                    margin:10px 0px 10px 38px;
                }
                p{
                    height:74px;
                    background:#f4f4f0;
                    padding:0px 0 0 6px;
                    a{
                        color:#5b473d;
                        font-size:12px;
                    }
                    span{
                        padding-top:12px;
                        display:block;
                        label{
                            color:#9999a1;
                            font-size:12px;
                        }
                        strong{
                            color:#c53f4c;
                            
                        }
                    }
                }
                .shopping{
                    line-height:26px;
                    color:#bbb;
                    font-size:14px;
                    margin-left:12px;
                }
            }
        }
        .active{
            display:block;
        }
    }
}

/*seckill*/
//1200px 352px;
.seckill{
    width:1200px;
    margin:20px auto 0;
    overflow: hidden;
    .sec-top{
        overflow: hidden;
        background:#e60314;
        
        .time-left{
            width:208px;
            float:left;
            padding:14px 0 10px 0;
            text-indent: -9999999px;
            background: url(../img/title01.png) no-repeat 28px 10px;
        }
        .time-right{
            float:right;
            font-size: 12px;
            color:white;
            line-height: 50px;
            margin-right: 26px;
            strong{
                margin:0 5px;
                border-radius: 4px;
                display:inline-block;
                width:32px;
                line-height:32px;
                background:#fff;
                color:#b20808;
                vertical-align: middle;
                font-size: 26px;
            }
        }
    }
    .sec-bottom{
        .seckFirst{
            float:left;
            border:1px solid #e5e5e5;
            width:198px;
            height:300px;
            background:url(../img/miao.png) no-repeat 10px 10px;
            z-index: 1;
            img{
                margin:3px 40px 0px;
                width:122px;
                height:200px;
            
            }
            .text{
                margin:0 15px 0 15px;
                a{
                    color:#666666;
                    font-size: 14px;
                }
                a:hover{
                    color:brown;
                }
                .en{
                    width:166px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    font-size: 12px;
                    color:#999999;
                    cursor: pointer;
                    margin-bottom: 12px;
                    
                }
                .pp{
                    color:#f10214;
                    font-size: 20px;
                    display: inline-block;
                  
                }
                .shan{
                    font-size: 14px;
                    text-decoration: line-through;
                    color:#999999;
                }
            }
        }
    }
}

/*import*/
.import{
    width:1200px;
    margin:15px auto 0;
    .header{
        height:36px;
        .fir{
            float:left;
            width:142px;
            color:#666666;
            font-size: 22px;
            background:url(../img/title1.png) no-repeat 0 -385px; 
            text-indent: -99999px;
        }
        .navmin{
            float:right;
            li{
                float:left;
                font-size:12px;
                line-height: 32px;
                
                a{
                    margin:0 20px 0 20px;
                    color:#5a463d;
                }
            }
            
            .more{
                float:left;
                width:100px;
                line-height:20px;
                margin-top:6px;
                background: #73584a;
                vertical-align: middle;
                font-size:12px;
                em{
                    display: inline-block;
                    width:20px;
                    line-height:20px;
                    text-indent: -999999px;
                    background:#624b40 url(../img/sprite.png) no-repeat -211px -40px;
                }
                a{
                    color:#fff;
                    
                }
            }
        }
    }
    .import-first{
        float:left;
        .imp-b{
            margin-bottom: 12px;
            height:250px;
            background:pink;
               .uls{
                float:left;
                width:202px;
                background:#d6c9bc;
                overflow: hidden;
                li{
                    border:1px solid #dfd5ca;
                    width:99px;
                    height:48px;
                    float:left;
                }
            }
        }
        .imp2{
            margin-top:15px;
            .tit{
                margin-top: 15px;
                width:960px;
                overflow: hidden;
                border-bottom: 1px solid #d2d2ce;
                h3{
                    color:#715b4a;
                    font-size:12px;
                    float:left;
                    line-height: 30px;
                    
                }
                span{
                    color:#5a463d;
                    font-size:12px;
                    float:right;
                    display:inline-block;
                    width:60px;
                    line-height:20px;
                    margin-top:3px;
                    background:#f4f4f0;
                    text-align: center;
                    border-radius: 20px;
                }
            }
            .select{
                width:960px;
                overflow: hidden;
                
            }
        }
    }
}

.imp-right{
    height:976px;
    background: yellowgreen;
    float:right;
    width:238px;
    .right-b{
        background:#f4f4f0;
        .bt{
            height:45px;
            border-bottom:1px solid #dddddd;
        }
        .bt2{
            .btfirst{
                border-bottom:1px solid #dddddd;
                overflow: hidden;
                .btHidden{
                    line-height:40px;
                    padding-left: 5px;
                    display:none;
                    .num{
                        display:inline-block;
                        width: 24px;
                        line-height: 20px;
                        color:#5b473b;
                        text-align: center;
                       background: url(../img/sprite.png) no-repeat -84px -70px; 
                    }
                    .show{
                        color:#5b473d;
                        font-size:12px;
                    }  
                }
                
                .imgs{
                    float:left;
                    position: relative;
                    width:70px;
                    height:104px;
                    background:#fff;
                    margin:10px 0 10px 12px;
                    padding:6px 0 0 10px;
                    em{
                        color:#fff;
                        font-style:normal;
                        position: absolute;
                        left:0;
                        top:0;
                        width: 24px;
                        line-height: 20px;
                        text-align: center;
                        background: url(../img/sprite.png) no-repeat -60px -70px; 
                    }
                }
                .pls{
                    width:130px;
                    float:left;
                    margin:{
                        left:10px;
                        top:20px;
                    }
                    a{
                        
                        color:#5b473d;
                        font-size:12px;
                    }
                    .shouchu{
                        font-size:12px;
                        color:#999999;
                        font-style: normal;
                        line-height: 36px;
                        span{
                            color:#5b475e;
                        }
                    }
                    span{
                        color:#c53f4c;
                    }
                }
            }
        }
    }
    
}

#two{
    background:url(../img/title_01.png) no-repeat 0px 0px;
}
