.head-right{
   padding-right: 30px;
    .head-search{
        form{
        .search{
            border:1px solid #dcd3cf;
        }
            .btn{
                background:url(../img/bg_header5.png) 0 -230px;
            }
        }
        
    }
}
.mainNav{
    background: #7e0001;
    }
.categorys {
    background: rgba(0,0,0,.9);
    .section{
        display:none;
    }
}

/*navMin*/
.navMin{
    font-size:12px;
    line-height: 20px;
    a{
        color:#333333;
        padding:0 10px;
    }
}
/*bigBox*/
.bigBox{
    overflow: hidden;
    width:1200px;
    margin:0 auto;
}
/*classify*/
.classify,.list{
    float:left;
}
.classify{
    margin:10px 8px 0 0px;
    width:200px;
    height:1000px;
    background:pink;
}
.list-one{
    border:1px solid #e6e1db;
}
.list{
    margin-top:10px;
    width:984px;
    overflow: hidden;
    
    .listFirst{
        padding-bottom: 20px;
        overflow: hidden;
        
        ul li{
            margin:20px 0 0 0;
            float:left;
            width:327px;
            a{
                display:block;
                color:#333333;
                font-size:12px;
                img{
                    width:60px;
                    height:98px;    
                    margin-left: 10px;       
                }
                span{
                    display:block;
                    color:#666689;
                }
            }
            span{
            
            }
            .price{
                color:#c53f4d;
            }
            em{
                display:inline-block;
                font-size: 12px;
                color:#fff;
                text-align: center;
                line-height: 20px;
                width:80px;
                background:#db3838;
                font-style:normal;
            }
        }
        .lisf,.listf2{
            float:left;
        }
    }
}
/*select*/
.select{
    
    .selectTitle{
        h1{
            background:#fbfaf9;
            font-weight: 100;
            border:{
                top:1px solid #e6e1db;
                bottom:1px solid #e6e1db;
            }
            font-size:12px;
            line-height: 36px;
            a{
                color:#c53f4d;
                b{
                    width:24px;
                    height:20px;
                    vertical-align: middle;
                    display:inline-block;
                    background:url(../img/icons.png) no-repeat 2px -2px;
                }
            }
            .h-last{
                display:inline-block;
                padding-left: 20px;
            }
        }
        .dllast{
                border-bottom:none; 
            }
        dl{
            height:40px;
            overflow: hidden;
            font-size:12px;
            color:#666666;
            width:950px;
            overflow: hidden;
            margin:0 auto;
            line-height: 40px;
            border-bottom: 1px dashed #cbc1b8;
            
                dt{
                    
                    float:left;   
                }
                dd{
                    
                    width:807px;
                    float:left;
                    .one{
                        display: inline-block;
                        width:30px;
                        line-height:16px;
                        color:#fff;
                        text-align: center;
                        background:#c63f4e;
                    }
                    a{
                       margin:0 12px;
                       color:#666666;
                    }
                    a:hover{
                        background:#c63f4e;
                        color:#fff;
                    }
                    
                }
                .more{
                    line-height:16px ;
                    vertical-align: middle;
                    float:right;
                    cursor: pointer;
                    
                    em{
                        padding-left:6px;
                        display: inline-block;
                        width:16px;
                        height:16px;
                        vertical-align: middle;
                        background:url(../img/icons.png) no-repeat right -51px;
                    }
                    
                }
              span{
                    input{
                        width:32px;
                        height:20px;
                        border:1px solid #c8bdb0;
                    }
                    .qd{
                        height:22px;
                        background:#f7f5f2;
                        font-size:10px;
                    }
                }                 
        }
    }
}
/*goods*/
.goods{
    margin-top:10px;
    .tab{
        overflow: hidden;
        border-bottom:2px solid #c63f4e;
        line-height: 37px;
        ul{
            li{
                width:98px;
                background:#f4f2ef;
                float:left;
                margin-right: 1px;
                text-align: center;
                border: 1px solid #cbc1b8;
                a{
                    font-size:14px;
                    color:#444;
                }        
            }
            .all{
                background:#952e38;
                border:1px solid #c63f4e;
                a{
                    color:#fff;
                }
            }
        }
        .goods-page{
            font-size:12px;
            color:#555555;
            float:right;
            margin-right:15px;
            a{
                display:inline-block;
                vertical-align: middle;
                width:28px;
                height:28px;
                color:#aa998a;
                border:1px solid #f8f6f4;
                background:url(../img/icons.png) no-repeat;
            }
            .prev{
                background-position: 8px -118px;
            }
            .next{
                background:#f7f5f2 url(../img/icons.png) no-repeat;
                background-position: 8px -94px;
            }
        }
    }
    .goodsNav{
        overflow: hidden;
        padding:15px 0 19px 5px;
        font-size:12px;
        .navLeft{
            float:left;
            overflow: hidden;
            padding-left: 5px;
            
            ul li{
                border:1px solid #e6e1db;
                width:60px;
                line-height:28px;
                text-align: center;
                float:left;
                margin-left: 5px;
                a{
                    color:#333;
                }
            }
            .on{
                background:#c63f4e;
                a{
                    color:#fff;
                }
            }
        }
        .navRight{
            float:right;
            line-height: 28px;
            span{
                float:left;
                padding:0 4px;
                vertical-align: middle;
                em{
                    margin:0 4px;
                    vertical-align: middle;
                    display:inline-block;
                    width:14px;
                    height:14px;
                    border:1px solid #c9beb1;
                }
            }
//          ssld
            .ssld{
                float:left;
                width:78px;
                border:1px solid #bfb6ad;
                text-indent: 8px;
                span{
                    display: inline-block;
                    background:#f3efec url(../img/down1.jpg) no-repeat center center;
                    width:13px;
                    height:30px;
                    float:right;
                    
                }
            }
            .pageview{
                float:left;
                padding-left: 10px;
                li{
                    border:1px solid #e6e2de;
                    float:left;
                    
                    a{
                        text-indent: 26px;
                        display:inline-block;
                        width:60px;
                        height:32px;
                        color:#333333;
                    }
                    .dt{
                        background:url(../img/bg_nav.png) no-repeat left -148px;
                    }
                    .lb{
                        background:url(../img/bg_nav.png) no-repeat right -84px;
                     }
                }
            }
        }
    }
}

.goods-list:after,.piclist:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    overflow: hidden;
    visibility: hidden;
}

/*goods-list*/
.goods-list{
    margin-bottom: 88px;
//  overflow: hidden;
    .piclist{
        .pic{
            float:left;
            margin-right:6px;
            margin-bottom: 8px;
            padding-top:22px;
            border: 3px solid #dddbd2;
            font-size:12px;
            width:184px;
            dl{
                dt{
                
                    img{
                        width:110px;
                        height:180px;
                        margin:0 auto;
                    }
                }
                .dd1{
                    padding-left: 10px;
                    height:130px;
                    background:#f8f8f5;
                    line-height:22px;
                    a{
                        color:#444444;
                        .cn{
                        
                        }
                         .promo{
                            display:block;
                            color:#c55559;
                         }
                    }
                    .price{
                        margin-top: 10px;
                        .mai{
                            vertical-align: middle;
                            display:inline-block;
                            width:28px;
                            height:26px;
                            background:url(../img/new-icon.png) no-repeat -336px -54px;
                        }
                        .minprice{
                            color:#cc0000;
                            font-size:20px;
                        }
                    }
                }
                .dd2{
                    height:42px;
                    background:#fafafa;
                    .btn-style{
                        margin:0 auto;
                        overflow: hidden;
                        width:170px;
                        line-height:26px;
                        background:#dd3939;
                        font-size:12px;
                        text-align: center;
                        a{
                        color:#fff;
                        }
                    }
                }
                .sc{
                    overflow: hidden;
                    ul{
                        .span1{
                            color:#cc0000;
                            }
                        .span2{
                            color:#3388bb;
                        }
                        .span3{
                            color:#df9a5b;
                        }
                        .sclist{
                            
                            text-align: center;
                            width:60px;
                            height:44px;
                            float:left;
                            font-size:12px;
                            color:#666666;
                            border:{
                                top:1px solid #efefef;
                                right:1px solid #efefef;
                            }
                            span{
                                margin-top:9px;
                                display:block;
                            }
                        }
                        #last{
                            border-right: none;
                        
                        }
                    }
                }
            }
        }
    }
}
/*page*/
.page{
    width:630px;
    margin:0 auto;
    font-size:12px;
    text-align: center;
    line-height:32px;
    ul li{
        width:32px;
        background:#f7f5f2;
        border:1px solid #aa998a;
        float:left;
        margin:0 6px;
        a{
            color:#333333;
        }
        
    }
    span{
        border:1px solid #aa998a;
        background:#f7f5f2;
        display:inline-block;
        em{
            background:url(../img/right.jpg) no-repeat;
            width:6px;
            height:14px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
        }
    }
    .next{
        width:78px;
        height:32px; 
        margin-right:6px;
    }
    .end{
        width:64px;
    }
}
